<!DOCTYPE html>
<html>
<head><title>Talk to Kotaro</title></head>
<style>
body{
width:100%;
text-align:center;
color:#ffffff;
background-color:#48cc7a;
}
</style>
  <body>
<h2>Press the "OK" button if you really want to dele all data you have contributed to this experiment.</h3>
<h2>Clique no botao "OK" se voce realmente deseja apagar todos os dados que forneceu para este experimento.</h3>
<h2>Haz clic en el boton "OK" si realmente deseas eliminar todos los datos que contribuiste en este experimento.</h3>
<h2>自分のデータ消すなら、[OK]ボタンを押してください。</h3>
<a href="deletion" id=test><button id="delete" style="height:40px;width:100px">OK</button></a>
<a href="exp" id=test><button id="kyanseru" style="height:40px;width:100px">Cancel</button></a>
  </body>
</html>
