<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Talk to Kotaro</title>
  </head>
  <style>
  header{
	width:100%;
	text-align:center;
	color:#ffffff;
	background-color:#48cc7a;
  }
   footer{
	width:100%;
   position: absolute;
    bottom: 0;
	background-color: #4a76d0;
	color:#ffffff;
	text-align:center;
  }
  </style>
  <body>
  <header>
  <table style="width:100%; text-align:center;">
<thead>
  <tr>
    <th>  <a href="http://mizuuchi.lab.tuat.ac.jp/"><img src="../static/IMG/MizuuchiLabLogo.png" alt="MizuuchiLabLogo" style="width: 25%;height: auto;"></a></th>
    <th style="width:30%;">  <h1>Talk to Kotaro!</h1>
  <h3>and help making robots speak better</h3></th>
    <th> <a href="https://www.tuat.ac.jp/"><img src="../static/IMG/TUAT.png" alt="MizuuchiLabLogo" style="width: 50%;height: auto;"></a> </th>
  </tr>
</thead>
</table>
  </header>
    <main><font color="red">
		<div style="text-align:center;">
		<h1>WRONG ID OR PASSWORD </h1>
		<h1>ID O CONTRASEÑA ERRÓNEOS </h1>
		<h1>ID OU SENHA ERRADOS </h1>
		<h1>IDかパスワードは違います </h1>
		</font>
		</div>
		<form action="main" method = "POST" style="text-align: right; margin-top:10%;margin-right: auto; margin-left: auto;width: 550px;">
		<label id="fnamel" for="fname">Login/ログイン ID: </label>
		<input type="text" id="fname" name="fname"><br><br>
		<label id="lnamel" for="lname">Password/パスワード/Contraseña/Senha:</label>
		<input type="PASSWORD" id="lname" name="lname"><br><br>
		<input id="submit" type="submit" value="Login">
		</form>
		<div style="text-align:center;">

		<a href="consent1">Register/Registrar/プロファイルを作る</a>

    <br>

     <a href="del_minors_profile">Request exclusion of a minor's profile/Solicitar exclusão do perfil de um menor/Solicitar la exclusión del perfil de un menor/未成年者のプロフィールの除外をリクエストする </a>
		</div>
		</main>
    <footer>
	</footer>
  </body>
</html>
