<!DOCTYPE html>
<html>
<head><title>Talk to Kotaro</title></head>
<style>
body{
width:100%;
text-align:center;
color:#ffffff;
background-color:#48cc7a;
}
</style>
  <body>
    <div class="myClass">

    </div>
<h1>Data deletion request successfully sent. An email will arrive later confirming that the requested data was deleted.</h1>
<h1> Solicitação de exclusão de dados enviada com sucesso. Um e-mail chegará mais tarde confirmando que os dados foram excluídos. </h1>
<h1> Solicitud de eliminación de datos enviada con éxito. Más tarde llegará un email confirmando que los datos fueron eliminados. </h1>
<h1>データ削除リクエストが正常に送信されました。 リクエストされたデータが削除されたことを確認するメールが後で届きます。</h1>
  </body>
</html>
